@use '../../../app/styles/variables' as *;

// custom button style
.button {
  font-size: $h7 !important;
  font-family: $font-inter;
  text-transform: none !important;
  font-weight: 600;
  display: inline-flex;
  align-items: center;

  &:disabled {
    background-color: #b0b0b0 !important;
    color: #ffffff !important;
    cursor: not-allowed !important;
    opacity: 0.6;
  }

  // button style:
  &.MuiButton-contained {
    &.blue-bg {
      background-color: $primary;
      color: $white;
    }

    &.white-bg {
      background-color: $white;
      color: $heading;
    }
  }
  .icon-container {
    margin-left: 8px;
    display: flex;
    align-items: center;
  }
}

.login-redirect {
  background-color: $primary !important;
}

.get-report {
  border-radius: 4px;
  width: 130px;
  height: 36px;
  display: flex !important;
  // top: 2px;
  border: 1px solid $btn-border !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  background-color: $primary !important;
}
.mail-button {
  border-radius: 4px;
  padding: 7px 25px !important;
  color: $primary !important;
  font-size: 13px !important;
  font-weight: 600 !important;
  box-shadow: none !important;
  background-color: $light-bg !important;
}
.delete-customer {
  border: 1px solid rgb(199, 24, 24) !important;
  color: rgb(199, 24, 24) !important;
}
.cancel {
  padding: 6px 5px !important;
  border-radius: 4px;
  border: 1px solid $btn-border !important;
  background-color: transparent !important;
  box-shadow: none !important;
  color: $accent !important;
  font-weight: 600 !important;
}
.assign {
  padding: 6px 5px !important;
  border-radius: 4px;
  border: 1px solid $primary !important;
  background-color: transparent !important;
  box-shadow: none !important;
  color: $primary !important;
  font-weight: 600 !important;
}

.light-edit {
  padding: 8px 12px !important;
  border-radius: 4px;
  border: none !important;
  background-color: $light-bg !important;
  box-shadow: none !important;
  color: $primary !important;
  font-weight: 600 !important;
}

.delete {
  padding: 10px 12px !important;
  border-radius: 12px !important;
  width: 100%;
  border: none !important;
  background-color: rgb(255, 227, 227) !important;
  box-shadow: none !important;
  color: red !important;
  font-weight: 600 !important;
  &:hover {
    box-shadow: 0 0 3px rgb(255, 143, 143) !important;
  }
}

.saveChanges {
  padding: 8px 12px !important;
  border-radius: 4px;
  box-shadow: none !important;
  background-color: $primary !important;
}

// Button style for vehicle config manager
.deleteChanges {
  padding: 8px 12px !important;
  border-radius: 4px;
  box-shadow: none !important;
  background-color: #e80000 !important;
}

.schedule {
  padding: 10px 12px !important;
  border-radius: 25px !important;
  box-shadow: none !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  color: green !important;
  background-color: rgb(185, 255, 185) !important;
  border: 1px solid green !important;
  &:hover {
    background-color: rgb(126, 221, 126) !important;
  }
}

.css-1q3j1gr-MuiStack-root > :not(style) ~ :not(style),
.css-mzst81-MuiStack-root > :not(style) ~ :not(style) {
  margin-top: 0 !important;
}

.css-1yt7yx7-MuiLoadingButton-loadingIndicator {
  color: $primary !important;
}
