@use '../../../app/styles/variables' as *;

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.css-1ruxp1v {
  padding: 20px 0 0 0;
}

.whole1 {
  background-color: $white;
  position: absolute;
  z-index: 1300;
  bottom: 25px;
  left: 25px;
  width: 320px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 25px 60px 0px rgba(0, 0, 0, 0.15), 0px 15px 30px rgba(0, 0, 0, 0.15);
  }

  .activeIcon {
    font-size: 32px;
    margin-right: 12px;
    justify-content: center;
    color: #0ebc93;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
  }

  .name-container {
    .let {
      color: $heading;
      font-size: 18px;
      font-weight: 600;
      font-family: $font-inter;
      letter-spacing: 0.5px;
    }
  }

  .down-icon {
    background-color: $background-gray;
    padding: 2px;
    border-radius: 8px;
    height: 30px;
    width: 30px;
    align-self: flex-start;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 20px 60px 0px $card-window;

    &:hover {
      background: linear-gradient(135deg, #e0eafc, #cfdef3);
    }
  }

  .ico {
    width: 20px;
    height: 20px;
    color: #000000;
    transition: color 0.3s ease;

    &:hover {
      color: #1e88e5;
    }
  }

  .ttl,
  .vlu {
    font-size: 11px !important;
    padding: 8px 0 !important;
  }

  .ttl {
    width: 100%;
    color: $light-gray;

    font: $font-content;
    font-weight: bold;
    font-size: 12px !important;
  }

  .vlu {
    font: $font-content2;
    font-size: 12px !important;
    font-weight: bold !important;
  }
}
