@use '../../../app/styles/variables' as *;

.login-image {
  height: 100%;
  width: 500px;
  position: relative !important;
}

.grid-container {
  display: flex;
  flex-direction: row;

  .forgot-content {
    position: absolute !important;
    bottom: 50px;
    left: 16px;
    width: 500px;

    .forgot-heading-typo {
      font-family: $font-inter !important;
      font-size: 17px !important;
      font-weight: 700 !important;
      color: $white !important;
      line-height: 30px;
      text-align: center;
      padding-right: 13%;
    }

    .forgot-subhead-typo {
      font-family: $font-inter !important;
      width: 85%;
      font-size: 10px !important;
      font-weight: 400 !important;
      line-height: 20px !important;
      color: #fff;
      text-align: center;
    }
  }

  .forgot-grid {
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    .forgot-box {
      border: 1px solid #eee;
      padding: 30px;
      border-radius: 20px;
      z-index: 1;
      width: 400px;
      margin: 50px;
      background-color: $white;
      box-shadow: '0px 4px 64px 0px rgba(118, 90, 248, 0.07)';
    }

    .forgot-header {
      font-weight: $font-heading;
      font-size: 20px;
      font-family: $font-inter;
      line-height: 50px;
    }

    .sub-head {
      color: $dark-gray;
      line-height: 40px;
    }
  }

  .custom-button {
    background-color: $primary;
    height: 40px;
    width: 345px;
    border-radius: 10px;
    font-family: $font-inter;
    font-size: 13px;
    font-weight: $font-content;
    line-height: 18px;
    letter-spacing: 0em;

    &:hover {
      background-color: $primary;
    }
  }

  .keep-sign {
    font-family: $font-inter;
    font-size: $h5;
    color: #303033;
    font-weight: $font-content;
    margin-top: 3px;
  }

  .back-to-log {
    text-align: center;
    margin-top: 25px;
    cursor: pointer;
  }
}

.gradient-box {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
  background-image: linear-gradient(to right, #3239ea, #fd4954);
  opacity: 40%;
  filter: blur(70px);
}
