@use '../../../app/styles/variables' as *;

.Custom-Card-Check-Box {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 30px;
  .checkbox-label {
    position: absolute;
    margin-top: 8px;
    margin-left: -20px;
  }
}
