@use '../../../app/styles/variables' as *;

.excel-loader-wrapper {
  position: relative;

  .excel-loader-component {
    position: fixed;
    top: 20px;
    right: -100%;
    transform: translateX(100%);
    transition: transform 0.5s ease, right 0.5s ease-in-out;
    z-index: 1000;

    &.show {
      right: 20px;
      transform: translateX(0);
    }

    &.hide {
      right: -100%;
      transform: translateX(100%);
    }

    .excel-loader-container {
      padding: 16px 4px 16px 16px;
      background: #ffffff;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      display: flex;
      align-items: center;
      min-width: 320px;
      border-left: 4px solid $primary;

      .excel-upload-icon {
        background-color: $primary;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        margin-right: 16px;

        .upload-icon {
          font-size: 24px;
          color: #ffffff;
        }
      }

      .upload-excel-content {
        display: flex;
        flex-direction: column;
        width: 100%;

        .upload-date {
          font-size: 16px !important;
          font-weight: bold !important;
          color: #333;
        }

        .upload-process {
          font-size: 14px !important;
          color: #666;
        }

        .upload-progress {
          margin-top: 8px;
          color: $primary;
        }
      }
      .hide-button {
        width: 40px;
        height: 40px;
      }
    }
  }

  .show-button {
    position: fixed;
    top: 20px;
    right: 0;
    background: $primary;
    cursor: pointer;
    z-index: 1000;
    padding: 30px 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    .arror-icon {
      color: #ffffff;
      font-size: 22px;
    }
  }
}
