@use '../../../../app/styles/variables' as *;
@use '../../../../app/styles/BreakPoints.scss' as *;

// background color for total management:
.MuiBox-root .css-mikc7i {
  background: $title-color;
}

// Converting the default style of MUI:
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected,
.css-1q2h7u5.Mui-selected,
.css-1p9i4sw-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: $primary !important;
}

.css-1aquho2-MuiTabs-indicator,
.css-ttwr4n {
  height: 3px !important;
  border-radius: 5px !important;
  background-color: $primary !important;
}

// Management styles:
.trips-management-container {
  .tab-context {
    padding: 15px 15px 0 15px;
    background-color: $white;
  }

  .tab-list {
    overflow: hidden;
    width: fit-content;
    border-radius: 10px;
    padding: 0 15px 0 15px;
    border: 2px solid $background;
  }

  .tab {
    text-transform: capitalize;
  }
}

.tab-panel {
  height: auto !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  padding: 0px 24px 0px 24px;
}

.trips-management-container .tab-list {
  @include xs-max {
    width: 100%;
  }
}
