@use '../../../../app/styles/variables' as *;

.d-flex-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 50px;
  background-color: $white;
  border-right: 1px solid $light-white;
  box-shadow: 0px 20px 50px 0px $card-shadow;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & img {
      width: 35px;
      height: 35px;
    }
  }

  .navbar {
    justify-content: space-between;
    height: 90vh;
    .componentsIcons {
      .active {
        position: relative;
        transition: all 0.3s ease;
        &::before {
          content: '';
          position: absolute;
          top: 10px;
          bottom: 0;
          left: -15px;
          width: 4px;
          height: 30px;
          background-color: $primary;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          margin-right: 5px;
        }
      }
      .icon {
        font-size: 20px;
        margin: 15px 0;
        color: $accent;
        cursor: pointer;
      }
      .activeIcon {
        color: $primary;
      }
    }
    .notification-icon {
      font-size: 25px;
      margin: 10px 0 20px 0;
      color: $accent;
      cursor: pointer;
      &:hover {
        color: $primary;
      }
      .active-icon {
        color: $primary;
      }
    }

    .personIcon {
      font-size: $h1a;
      margin: 10px 0;
      color: $secondary;
      cursor: pointer;
      &:hover {
        color: $primary;
      }
    }
  }
}
.menu {
  box-shadow: 0px 12px 37px 0px #485cf01a !important;
  .menuItem {
    font-family: $font-inter;
    font-size: $h6 !important;
    font-weight: 500 !important;
    color: $secondary !important;
    &:hover {
      background-color: $button-background !important;
      color: $primary !important;
    }
  }
}
