@use '../../../../app/styles/variables' as *;

.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.resetDialog {
  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    max-width: 400px !important;
    padding: 20px;
    box-shadow: 0px 0px 14px 0px $card-window;
    border-radius: 10px;
  }
  .css-yp0tso-MuiGrid-root {
    margin-bottom: 0;
  }
  .resetHead {
    color: $heading;
    font-family: $font-inter;
    font-size: $h3;
    font-weight: 700;
  }
  .form {
    margin-top: 20px;
  }
}
.css-qh6drl-MuiDialogActions-root,
.css-m63szf {
  padding: 8px 20px !important;
}
.css-uhb5lp {
  width: 400px;
}
