@use '../../../../../app/styles/variables' as *;

.auto-planner-scheduled-component {
  .auto-planner-calendar {
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    &.auto-planner-calendar-opertor {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    &.auto-planner-calendar-agent {
      // position: absolute;
      top: 15px;
      left: 70px;
    }
    &.filter {
      right: 100px;
    }
  }
  .Auto-planner-container {
    padding: 10px 0;
    width: 100%;
    .buttons {
      display: flex;
      align-items: center;
      .text {
        font: $font-heading !important;
      }
      .share-btn {
        margin-right: 10px;
      }
      .whatsapp {
        margin-right: 10px !important;
        // margin-top: 5px !important;
        font-weight: 500 !important;
        text-transform: capitalize !important;
        &.css-1bhl7r5-MuiButtonBase-root-MuiButton-root {
          box-shadow: none !important;
        }
      }
    }

    .filter-bar-component {
      display: flex;

      .filter-icon {
        margin-right: 20px;
        height: fit-content;
        margin-top: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }

    .auto-planner-header {
      margin-bottom: 20px;
      .css-sxftl9-MuiFormControl-root-MuiTextField-root {
        margin: 0 !important;
      }
      .calendar {
        margin-top: 1px !important;
      }
      .buttons {
        display: flex;
        align-items: center;
        .text {
          font: $font-heading !important;
        }
        .share-btn {
          margin-right: 10px;
        }
      }
      .auto-planner-head {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .back-btn {
          font-size: 40px !important;
          margin-right: 20px;
          color: $primary;
          padding: 5px;
          cursor: pointer;
          &:hover {
            background-color: $light-bg;
            border-radius: 50%;
          }
        }
      }
    }
    // .report-message {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    //   justify-content: center;
    //   height: 60vh;
    // }
    .typing-text {
      width: max-content;
      .typing-animation {
        display: inline-block;
        font-family: monospace;
        font-size: 20px !important;
        font-weight: 600 !important;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2px solid;
        width: 0;
        animation: typing 1s forwards;

        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 100%;
            border-right: none;
          }
        }
      }
    }

    .spinner {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background: radial-gradient(farthest-side, $primary 94%, #0000) top/9px 9px
          no-repeat,
        conic-gradient(#0000 30%, $primary);
      // -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
      // animation: spinner-c7wet2 1s infinite linear;
    }

    @keyframes spinner-c7wet2 {
      100% {
        transform: rotate(1turn);
      }
    }
    .no-report-img {
      display: flex;
      align-items: center;
      justify-content: center;
      .no-report-found {
        max-width: 300px;
        max-height: 300px;
        object-fit: contain;
      }
    }

    .tracking-heading {
      font: $font-heading;
      color: $light-black;
      margin: 0 10px;
    }
  }
  .filter-drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #fff;
    z-index: 1;
    transition: all 0.5s ease;
    &.filter-show {
      border: 1px solid #ccc;
      padding: 20px;
      transform: translateX(0);
      overflow: visible;
      width: 300px;
    }

    &.filter-hide {
      transform: translateX(100%);
      overflow: hidden;
      width: 0;
      display: none;
    }

    .filter-header {
      display: flex;
      align-items: center;
      background-color: #3239ea63;
      border-radius: 12px;
      padding: 6px;
      .filter-icon-arrow {
        height: 40px;
        width: 40px;
      }
      .filter-title {
        font: $font-heading;
        font-size: 20px;
        color: $light-black;
        margin: 0 !important;
      }
    }
    .filter-bar {
      margin-top: 3vh;
      .filter-fields {
        width: 250px;
        .custom-select .label {
          margin-top: 13px;
          margin-bottom: 2px;
        }
        .custom-select .custom-text-field {
          margin-top: 0 !important;
        }
        .custom-select .custom-text-field .MuiOutlinedInput-root {
          height: 36px !important;
        }
      }
    }
  }
}
.actions {
  width: 100%;
  display: flex;
  align-items: center;

  .action-icon {
    color: $primary;
  }
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  border-radius: 12px !important;
}

.schedule-all {
  display: flex;
  justify-content: space-between;
}

@mixin bp-devices {
  @media (max-width: 630px) {
    &.auto-planner-calendar {
      position: absolute !important;
      top: 70px !important;
      left: 75px !important;
      display: contents !important;
    }
  }
}

.auto-mixin {
  @include bp-devices;
}

// @media (max-width: 960px) {
//   .auto-planner-calendar {
//     position: absolute !important;
//     top: 70px !important;
//     left: 75px !important;
//   }
// }

@media (max-width: 960px) {
  .schedule-all {
    display: flex;
    justify-content: flex-start !important;
    // margin-top: 45px !important;
  }
}

@media (max-width: 635px) {
  .schedule-all {
    display: flex;
    justify-content: end !important;
    // margin-top: 80px !important;
  }
}

@media (max-width: 960px) {
  .auto-planner-header {
    margin-top: 50px !important;
  }
}

@media (max-width: 635px) {
  .auto-planner-header {
    margin-top: 80px !important;
  }
}

.schedule-trip {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 960px) {
  .schedule-trip {
    margin-top: 50px !important;
    display: flex;
    justify-content: flex-start !important;
  }
}

@media (max-width: 635px) {
  .schedule-trip {
    // margin-top: 80px !important;
    display: flex;
    justify-content: flex-start !important;
  }
}

@media (max-width: 425px) {
  .schedule-trip {
    margin-top: 80px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start !important;
  }
}

// @media (max-width: 910px) {
//   .auto-planner-scheduled-component .auto-planner-calendar {
//     position: static;
//     margin-top: 20px;
//     width: 100%;
//     justify-content: center;
//     display: flex;
//     gap: 8px !important;
//   }
// }

// @media (max-width: 768px) {
//   .css-1ch4lfi {
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     gap: 10px;
//   }
// }

// @media (max-width: 1200px) {
//   .css-n54ydy-MuiGrid-root {
//     max-width: 100% !important;
//   }
// }

// @media (max-width: 768px) {
//   css-pm6592 {
//     max-width: 0px !important;
//   }
// }

// @media (max-width: 768px) {
//   .css-ecdkia {
//     width: 270px !important;
//   }
// }

// @media (max-width: 768px) {
//   .css-1vl1vkt {
//     width: 100% !important;
//   }
// }

// @media (max-width: 768px) {
//   .css-1sdwfah {
//     width: 100% !important;
//   }
// }

.css-2lh9lv {
  background-color: #00097bc4 !important;
}

// download button style
.download-button {
  position: relative;
  width: 150px;
  height: 36px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background-color: $primary;
  overflow: hidden;
  margin-left: 10px;
  border-radius: 6px;
  border: none;
  &.download-button-disable {
    cursor: default;
  }

  .download-button-icon,
  .download-button-text {
    transition: all 0.3s;
  }
  .download-button-text {
    transform: translateX(22px);
    color: #fff;
    font-weight: 600;
  }
  .download-button-icon {
    position: absolute;
    transform: translateX(110px);
    height: 100%;
    width: 39px;
    background-color: #1a2fa6;
    display: flex;
    align-items: center;
    justify-content: center;
    .download-icon2 {
      font-size: 20px;
      color: #fff;
    }
  }
  &:hover {
    background: #1a2fa6;
  }
  &:hover .download-button-text {
    color: transparent;
  }
  &:hover .download-button-icon {
    width: 148px;
    transform: translateX(0);
  }
  &:active .download-button-icon {
    background-color: #142d6c;
  }

  .loader-icon-button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .loader-icon2 {
      color: $white;
      font-size: 25px;
    }
  }
}
@media (max-width: 500px) {
  .download-button {
    width: 36px;
    margin-left: 0%;

    .download-button-icon {
      position: static;
      transform: none;
    }
  }
  .no-report-found {
    min-width: 300px;
  }
}

.css-1yvv0df {
  max-height: 44px !important;
}

.css-1vl1vkt {
  width: 100% !important;
}

.css-3e6n3d {
  margin-left: 0px !important;
}
