.MuiTableCell-root:focus {
  outline: none !important;
  box-shadow: none !important;
}
.css-1m4a7xm-MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.css-1m4a7xm-MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}
.css-1m4a7xm-MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within,
.css-1m4a7xm-MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}
