@use '../../../../app/styles/variables' as *;

.custom-info-window {
  max-width: 250px;
  min-width: 200px;

  p {
    color: #555;
    margin-bottom: 4px;
  }

  .info-head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 8px !important;
  }

  .you-are-here {
    display: flex;
    align-items: center;

    .you-are-here-text {
      color: #232323;
      font-size: 24px;
      font-weight: 600;
      margin-left: 15px;
    }
  }

  .statusContainer {
    display: flex;
    gap: 3%;

    .statusIcon {
      font-size: '30px';
      margin-right: '10px';
      opacity: '0.8';
    }

    .online,
    .completed {
      font-size: 12px;
      color: #0ebc93 !important;
    }

    .offline {
      font-size: 12px;
      color: #ff2532 !important;
    }

    .pending {
      font-size: 12px;
      color: #ffa000 !important;
    }

    .warehouse {
      font-size: 12px;
      color: #485cf0 !important;
    }
  }

  .heading {
    font-family: $font-inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #232323;
    margin: 0;
  }

  .sub-heading {
    font: $font-content;
    margin-top: 5px;
  }

  .contents {
    font-family: $font-inter !important;
    font-size: $h6;
    line-height: 20px;
    letter-spacing: 1%;
  }

  .icon-type {
    display: flex;
    align-items: center;
    font-family: $font-inter !important;
    font-size: $h6;
    line-height: 20px;
    letter-spacing: 1%;
  }

  .locationIcon {
    width: 40px;
    height: 40px;
  }

  .content {
    font-weight: 700;
  }

  .content-image {
    width: 74px;
    height: 74px;
    top: 297px;
    left: 404px;
    border-radius: 6px;
  }

  .live-trip {
    display: flex;
    flex-direction: row;
    gap: 3%;
  }

  .trip-start {
    margin-top: -4px;
    font-size: $h6;
  }
}
