@use '../../../../../../app/styles/variables' as *;

.modify-vehicle-dialog {
  .css-tlc64q-MuiPaper-root-MuiDialog-paper {
    border-radius: 12px !important;
    max-width: 90% !important;
  }
  .modify-vehicle-dialog-container {
    min-width: 350px;
    .modify-vehicle-dialog-header {
      padding: 20px 20px 0 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .modify-vehicle-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px !important;
      }
      .modify-vehicle-description {
        font-size: 14px;
        font-weight: 500;
        color: #666;
      }
      .modify-vehicle-close {
        background-color: #afafb1;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        cursor: pointer;
        margin-left: 10px;
        &:hover {
          background-color: $hover-color;
        }
        .modify-vehicle-close-icon {
          font-size: 20px;
        }
      }
    }
    .modify-vehicle-dialog-component {
      max-height: 72vh;
      // overflow-y: auto;
      padding: 0 20px 60px 20px;
      .modify-vehicle-conform-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        // position: absolute;
        bottom: 0;
        left: 0;
        background-color: #fff;
        padding: 20px;
        width: 100%;
        .modify-vehicle-description {
          font-size: 14px;
          font-weight: 500;
          color: #666;
          width: 80%;
        }
      }
    }
  }
}
