@use '../../../../../app/styles/variables' as *;

.HelpContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 50px;
  color: $primary;
  font-weight: 700;
}
