@use '../../../../app/styles/variables.scss' as *;

.no-report-img {
  display: flex;
  align-items: center;
  justify-content: center;
  .no-report-found {
    max-width: 440px;
    max-height: 440px;
    object-fit: contain;
  }
}

.refresh {
  -webkit-animation-name: cycle;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-name: cycle;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -moz-animation-name: cycle;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
}

@-webkit-keyframes cycle {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes cycle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes cycle {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

.css-1qwpybv {
  margin-top: 25px !important;
}
.css-1s5u38g {
  background: transparent !important;
}

.MuiDialogTitle-root + .css-1dvry87-MuiDialogContent-root {
  padding-top: 28px !important;
}

.css-yd8sa2 {
  gap: 0px !important;
}

.css-1gsgg9l {
  padding: 10px !important;
}

.css-1e3gyrm-MuiDivider-root {
  height: auto !important;
}
