.role-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .role-count {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
  .role-header {
    font-weight: 600 !important;
    font-size: 1rem !important;
  }
}

.card-role-container {
  height: 70vh;
  padding: 0px 10px;
  margin-top: 10px;
  overflow: auto;
  scrollbar-width: thin;
  overflow-x: none;
  padding-bottom: 6%;
}
.card-box {
  position: relative;
  top: 1rem;

  .css-bhp9pd-MuiPaper-root-MuiCard-root,
  .css-s18byi {
    border-radius: 1rem;
    box-shadow: 0 8px 12px rgba(122, 122, 122, 0.2);
    // background: linear-gradient(145deg, #fff, #f0f0f0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #e8e8e8;
    &:hover {
      transform: translateY(-4apx);
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    }

    .css-46bh2p-MuiCardContent-root:last-child {
      margin-bottom: 0;
    }

    cursor: pointer;
    .card-content {
      display: flex !important;
      justify-content: space-between;
      .card-items {
        width: 100%;
        .card-title {
          font-size: 0.8rem !important;
          font-weight: 500;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          .role-key {
            color: #00796b;
            font-weight: 700;
            font-size: 0.8rem;
          }
        }
        .description-key {
          color: #00796b;
          font-weight: 700;
          font-size: 0.8rem;
        }
        .card-description {
          font-size: 0.8rem;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #131212;
          // font-weight: 600;
          min-height: 2.9em;
        }
      }
    }
  }
}

.subuser-feature-view {
  .subuser-view,
  .css-1d3bbye {
    min-width: 500px !important;
    .css-11lq3yg-MuiGrid-root {
      min-width: 500px !important;
    }
  }
  .feature-content {
    display: flex;
    justify-content: space-between;
  }
  .feature-chip {
    margin-top: 16px;
    display: flex;
    gap: 1;
    overflow-x: scroll;
    cursor: pointer;
    scrollbar-width: none;
  }
  .feature-field {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 140px;
    white-space: nowrap;
  }
}
