@use '../../../app/styles/variables' as *;

.dialog {
  .css-1t1j96h-MuiPaper-root-MuiDialog-paper,
  .css-uhb5lp {
    width: 100% !important;
    height: 90vh !important;
    max-height: none !important;
    max-width: none !important;
    border-radius: 8px !important;
  }

  .dialogContent {
    padding: 10px !important;
    position: relative !important;
    .dialogValue {
      width: 100% !important;
      height: 100% !important;
      background-color: $light-gray !important;
    }

    .closeIcon {
      z-index: 1000;
      position: absolute;
      top: 0;
      right: 0;
      box-shadow: 0px 20px 60px 0px $card-window;
    }
  }
}
