.dayselection-card {
  width: 900px;
  padding: 16px;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;

  .css-a85w7c-MuiTypography-root {
    color: #3239ea;
  }
  .css-uaq4ho {
    background-color: #3239ea;
    color: #ffffff;
    border: 1px solid #3239ea;
  }

  .driverName {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .daySelection {
    text-align: center;

    .dayToggleGroup {
      display: flex;
      justify-content: center;

      .dayButton {
        color: #3f51b5;
        border: 1px solid #e0e0e0;
        text-transform: uppercase;
        font-weight: bold;

        &.Mui-selected {
          background-color: #3f51b5;
          color: #ffffff;
        }
      }
    }

    .timeSlots {
      margin: 8px 0;

      .timeSlot {
        background: #f4f4f4;
        border-radius: 4px;
        padding: 4px 8px;
        display: inline-block;
        margin: 4px;
        font-size: 0.875rem;
      }
    }

    .defaultAvailability {
      margin-top: 16px;
      text-align: left;

      input[type='checkbox'] {
        margin-right: 8px;
      }
    }
  }

  .closeIcon {
    position: relative;
    font-size: 1.5rem;
    left: 20px;
    bottom: 24px;
  }
}
