@use '../../../app/styles/variables' as *;
@use '../../../utils/styleMixin' as *;

.login-image {
  height: 100%;
  position: relative !important;
  margin-right: 60% !important;

  .login-video {
    border: none;
    outline: none;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.app-logo {
  // -webkit-animation: spin 1s linear 1s;
  // -moz-animation: spin 1s linear 1s;
  // animation: spin 1s linear 1s;

  @keyframes spin {
    10% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
}

.grid-container {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .login-content {
    position: absolute !important;
    bottom: 50px;
    left: 35px;
    width: 500px;

    .login-heading-typo {
      font-family: $font-inter !important;
      font-size: 17px !important;
      font-weight: 600 !important;
      color: $white !important;
      line-height: 30px;
      text-align: center;
      padding-right: 13%;
    }

    .login-subhead-typo {
      font-family: $font-inter;
      width: 85%;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #fff !important;
      text-align: center;
    }
  }

  .login-grid {
    justify-content: center;
    align-items: center;
    display: flex;
    top: 50%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);

    .login-box {
      border: 1px solid #eee;
      padding: 30px;
      border-radius: 20px;
      z-index: 1;
      width: 400px;
      background-color: $white;
      box-shadow: '0px 4px 64px 0px rgba(118, 90, 248, 0.07)';

      .app-logo {
        height: 34px;
        width: 50px;
        cursor: pointer;
      }
    }

    .login-header {
      @include fontStyle(#26134b, $font-inter, 26, 700, 30);
      margin-top: 15px;
    }

    .sub-head {
      @include fontStyle(#7e7a87, $font-inter, 13, 500, 16);
      margin-top: 10px;
      margin-bottom: 30px;
    }

    .passwordTopHeight {
      margin-top: 20px;
    }
  }

  .custom-button {
    width: 345px;
    background-color: $primary;
    height: 50px;
    border-radius: 10px;
    font-family: $font-inter;
    font-size: 13px;
    font-weight: $font-content;
    line-height: 18px;
    letter-spacing: 0em;

    &:hover {
      background-color: $primary;
    }
  }

  .keep-sign {
    @include fontStyle(#303033, $font-inter, 12, $font-content, 16.8);
    margin-top: 3px;
    padding-left: 9px;
  }

  .switch-box {
    display: flex;
    flex-direction: row;
  }

  .forgot-pw {
    @include fontStyle(#303033, $font-inter, 12, 500, 16.8);
    cursor: pointer;
  }
}

.gradient-box {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
  background-image: linear-gradient(to right, #3239ea, #4a8ff6);
  opacity: 40%;
  filter: blur(70px);
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: #ff3cac;
  background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 100px;
  height: 100px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.carousel .slider-wrapper {
  width: 80% !important;
  margin: initial !important;
}
