.fuel-settings-container {
  padding: 10px;
  .fuel-set-head {
    display: flex;
    justify-content: space-between;
  }
  .fuel-set-add {
    height: 35px;
  }
  .fuel-set-back {
    height: 35px;
    width: 35px;
    margin-top: 10px;
    color: #928c8c !important;
  }
  .fuel-set-button {
    display: flex;
    gap: 20px;
  }
}
