@use '../../../../app/styles/variables' as *;

.radio-formlabel,
.css-13sljp9 {
  font-family: $font-inter !important;
  font-size: $h6 !important;
  font-weight: 500 !important;
  color: $label-color !important;
}

.radio-controllabel {
  .css-ahj2mt-MuiTypography-root,
  .css-9l3uo3 {
    font-family: $font-inter !important;
    font-size: $h6 !important;
    font-weight: 400 !important;
  }
}
